* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-size: 2.3rem;
}

p {
    font-size: 1.6rem;
}

.app {
    width: 100vw;
    height: 100vh;
}
