.checkoutProduct {
    display: grid;
    margin: 2rem;
    justify-content: center;
}

.checkoutProduct__image  > img {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info {
    text-align: center;
}

.checkoutProduct__tittle {
    font-size: 1.7rem;
    font-weight: 800;
}


.checkoutProduct__info > button {
    background-color: #F4ED42;
    border: 1px solid;
    margin-top: 1rem;
    padding: 1rem;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}