.checkout__empty {
    height: 80vh;
    text-align: center;
    padding-top: 2rem;
}

.checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}

.checkout__title {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__right {
    display: grid;
    justify-content: center;
}