.dashboard {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #D2F3E7;
}

.dashboard > h1 {
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}

.dashboard__form  {
    display: grid;
    gap: 1rem;
    background-color: #672E8C;
    color: #F4ED42;
    text-align: center;
    height: fit-content;
    border-radius: .5rem;
    border: 0.1rem solid #672E8C;
    padding: 2rem;
}

.dashboard__form > label {
    display: flex;
    flex-direction: column;
}

.dashboard__form > label > span {
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

.dashboard__form > button {
    background-color: #F4ED42;
    border-radius: .2rem;
    width: 100%;
    height: 3rem;
    border: 0.1rem solid;
    margin-top: 1rem;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
