.footer {
    background-color: #672E8C;
    color: rgba(255,255,255,0.8);
}

.footer__copyright {
    min-height: 5rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer__copyright > span {
    font-size: 1.5rem;
    font-weight: 500;
}


