.header {
    display: grid;
    align-items: center;
    grid-template-columns: 0.3fr 1.9fr 0.8fr;
    background-color: #672E8C;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    margin: 1.8rem 2rem;
}

.header__logo > img {
    width: 10rem;
    border-radius: 50%;
}

.header__search > label {
    display: flex;
}

.header__searchInput {
    padding: 1rem;
    border: none;
    width: 100%;
}

.header__search .header__searchIcon {
    width: 2.8rem;
    height: 3.5rem;
    background-color: #F4ED42;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.header__optionLineOne {
    font-size: 1rem;
}

.header__optionLineTwo {
    font-size: 1.3rem;
    font-weight: 800;
    color: white;
}


@media only screen and (max-width: 425px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: none;
    }

    .header__search {
        display: none;
    }

    .header__home {
        justify-self: center;
    }
}