
.home__image > img {
    width: 100%;
    z-index: -1;
    margin-bottom: -28rem;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}


.home__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #D2F3E7;
}

