.login {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login__logo {
    width: 10rem;
    margin: 20rem auto;
    border-radius: 50%;
}

.login__logo > img {
    width: 10rem;
    border-radius: 50%;
}

.login__container {
    background-color: #672E8C;
    color: #F4ED42;
    width: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid #672E8C;
    padding: 2rem;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}

.login__container > form > label > span {
    margin: 5px;
    font-size: 1.5rem;
}

.login__container > form > label > input {
    height: 4rem;
    margin-bottom: 1rem;
    background-color: white;
    width: 100%;
}

.login__signInButton {
    background-color: #F4ED42;
    border-radius: .2rem;
    width: 100%;
    height: 3rem;
    border: 1px solid;
    margin-top: 1rem;
    border-color: #a88734 #9c7e31 #846a29;
}

.login__createAccount {
    background-color: whitesmoke;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 20px;
}

/*Bubbles*/

.login__bubble {
    background: #672E8C;
    opacity: .3;

    position: absolute;
    bottom: 0;
    border-radius: 50%;

    animation: bubble 3s linear  infinite;
}

.login__bubble:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
}

.login__bubble:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 75%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.login__bubble:nth-child(3) {
    width: 80px;
    height: 80px;
    left: 15%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.login__bubble:nth-child(4) {
    width: 60px;
    height: 60px;
    left: 95%;
    animation-duration: 3s;
    animation-delay: 6s;
}

@keyframes bubble {
    0% {
        bottom: 0;
        opacity: 0;
    }

    5% {
        opacity: .4;
    }

    100% {
        bottom: 100vh;
        opacity: 0;
    }
}