.product {
    display: grid;
    align-items: center;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    border-radius: 2%;
    border: 0.2rem solid;
}

.product__info {
    margin-bottom: 15px;
}
.product__info > h1 {
    text-align: center;
    padding-bottom: 10px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;

}

.product > img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product  > button {
    background-color: #F4ED42;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}