.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    height: 10rem;
    padding: 2rem;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: .3rem;
}

.subtotal > button {
    background-color: #F4ED42;
    border-radius: 2px;
    width: 100%;
    height: 3rem;
    border: 1px solid;
    margin-top: 1rem;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}